<div class="container">
  <h1 mat-dialog-title *ngIf="data.update">Cập nhật hợp đồng</h1>
  <h1 mat-dialog-title *ngIf="!data.update">Thêm mới hợp đồng</h1>

  <div mat-dialog-content>
    <form [formGroup]="formControl">

      <div class="form" *ngIf="data.update">
        <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Mã hợp đồng</mat-label>
            <input matInput type="text" formControlName="maHopDong" [(ngModel)]="data.hopDong.maHopDong" [readonly]="data.update">
            <mat-error *ngIf="
  formControl.controls['maHopDong']?.errors?.required">field required</mat-error>
        </mat-form-field>
    </div>

      <div class="mt-2 form">
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Ngày bắt đầu </mat-label>
          <input matInput type="date" formControlName="ngayBatDau" [(ngModel)]="data.hopDong.ngayBatDau" />
          <mat-error *ngIf="
    formControl.controls['ngayBatDau']?.errors">Định dạng ngày sinh yyyy-mm-dd</mat-error>
          <mat-error *ngIf="
    formControl.controls['ngayBatDau']?.errors?.required">field required</mat-error>
        </mat-form-field>
      </div>

      <div class="mt-2 form">
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Ngày kết thúc </mat-label>
          <input matInput type="date" formControlName="ngayKetThuc" [(ngModel)]="data.hopDong.ngayKetThuc" />
          <mat-error *ngIf="
  formControl.controls['ngayKetThuc']?.errors">Định dạng ngày sinh yyyy-mm-dd</mat-error>
          <mat-error *ngIf="
  formControl.controls['ngayKetThuc']?.errors?.required">field required</mat-error>
        </mat-form-field>
      </div>

      <div class="mt-2 form">
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Mã SV</mat-label>
          <mat-select [(ngModel)]="data.hopDong.maSv" formControlName='maSv'>
            <!-- <mat-option>
                        <ngx-mat-select-search formControlName="maSoDinhDanhS"></ngx-mat-select-search>
                    </mat-option> -->
            <mat-option *ngFor="let item of data.sinhVienList" [value]="item.maSv">
              {{item.maSv}}-{{item.maSoDinhDanhS}}</mat-option>
          </mat-select>
          <mat-error *ngIf="
          formControl.controls['maSv']?.errors?.required">field required</mat-error>
        </mat-form-field>
      </div>


      <div class="mt-2 form">
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Mã só định danh NVQL</mat-label>
          <mat-select [(ngModel)]="data.hopDong.maSoDinhDanhN" formControlName='maSoDinhDanhN'>
            <!-- <mat-option>
                        <ngx-mat-select-search formControlName="maSoDinhDanhS"></ngx-mat-select-search>
                    </mat-option> -->
            <mat-option *ngFor="let item of data.nhanVienQlList" [value]="item.maSoDinhDanhN">
              {{item.maSoDinhDanhN}}-{{item.tenKyTucXa}}</mat-option>
          </mat-select>
          <mat-error *ngIf="
          formControl.controls['maSoDinhDanhN']?.errors?.required">field required</mat-error>
        </mat-form-field>
      </div>


      <div class="mt-2 form">
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Tên phòng</mat-label>
          <mat-select [disabled]="data.update" [(ngModel)]="phong" formControlName='phong'>
            <!-- <mat-option>
                    <ngx-mat-select-search formControlName="maSoDinhDanhS"></ngx-mat-select-search>
                </mat-option> -->
            <mat-option *ngFor="let item of data.phongList" [value]="item">
              {{item.tenKyTucXa}} - {{item.tenPhong}}</mat-option>
          </mat-select>
          <mat-error *ngIf="
      formControl.controls['phong']?.errors?.required">field required</mat-error>
        </mat-form-field>
      </div>


    </form>
  </div>


  <div class="mt-2" mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!formControl.valid" (click)="edit()"
      cdkFocusInitial>Yes</button>
    <button mat-raised-button mat-dialog-close>No</button>

  </div>
</div>
