table {
  width: 100%;
}


table,
th.mat-header-cell {
  text-align: center !important;
}

.mat-form-field {
  margin-right: 10px;
  max-width: 140px;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

