<div class="dashboard">

  <div class="dashboard-nav">
    <header><a href="#" class="menu-toggle"><i class="fas fa-bars"></i></a><a routerLink="home"
        routerLinkActive="active" class="brand-logo"><i class="fas fa-home"></i><span>Quản lý KTX</span></a></header>
    <nav class="dashboard-nav-list">
      <a routerLink="ky-tuc-xa" routerLinkActive="active" class="dashboard-nav-item"><i class="far fa-id-card"></i>Quản
        lý ký túc xá </a>
      <a routerLink="phong" routerLinkActive="active" class="dashboard-nav-item"><i class="fas fa-bus"></i>Quản lý
        phòng</a>
      <a routerLink="nguoi" routerLinkActive="active" class="dashboard-nav-item"><i class="fas fa-route"></i> Quản
        lý người </a>
      <a routerLink="nguoi-sdt" routerLinkActive="active" class="dashboard-nav-item"><i class="fas fa-route"></i> Quản
        lý người-sdt </a>
      <a routerLink="sinh-vien" routerLinkActive="active" class="dashboard-nav-item"><i class="fas fa-route"></i> Quản
        lý sinh viên </a>
      <a routerLink="nhan-vien-quan-ly" routerLinkActive="active" class="dashboard-nav-item"><i
          class="fas fa-route"></i> Quản
        lý NVQL </a>
      <a routerLink="khach" routerLinkActive="active" class="dashboard-nav-item"><i class="fas fa-route"></i> Quản
        lý khách</a>
      <a routerLink="luot-tham" routerLinkActive="active" class="dashboard-nav-item"><i class="fas fa-route"></i> Quản
        lý lượt thăm</a>
      <a routerLink="loai-phong" routerLinkActive="active" class="dashboard-nav-item"><i class="fas fa-route"></i> Quản
        lý loại phòng</a>
      <a routerLink="hop-dong" routerLinkActive="active" class="dashboard-nav-item"><i class="fas fa-directions"></i>
        Quản
        lý hợp đồng</a>
      <a routerLink="ve-xe" routerLinkActive="active" class="dashboard-nav-item"><i class="fas fa-directions"></i> Quản
        lý vé xe</a>
      <a routerLink="lan-gui-xe" routerLinkActive="active" class="dashboard-nav-item"><i class="fas fa-directions"></i>
        Quản
        lý lượt gửi xe</a>
      <a routerLink="luot-giat" routerLinkActive="active" class="dashboard-nav-item"><i class="fas fa-directions"></i>
        Quản
        lý giặt là</a>
      <a routerLink="hoa-don-dien-nuoc" routerLinkActive="active" class="dashboard-nav-item"><i
          class="fas fa-directions"></i> Quản
        lý HĐ điện nước</a>
      <a routerLink="thong-ke-khach" routerLinkActive="active" class="dashboard-nav-item"><i
          class="fas fa-chart-bar"></i> TK khách theo tháng</a>
      <a routerLink="thong-ke-dien-nuoc-thang" routerLinkActive="active" class="dashboard-nav-item"><i
          class="fas fa-chart-bar"></i> TK ĐN theo tháng </a>
          <a routerLink="thong-ke-tien-dich-vu-sv" routerLinkActive="active" class="dashboard-nav-item"><i
            class="fas fa-chart-bar"></i> Tiền DV SV theo tháng </a>
            <a routerLink="thong-ke-tong-tien-sv" routerLinkActive="active" class="dashboard-nav-item"><i
              class="fas fa-chart-bar"></i> Tiền SV theo tháng </a>
      <!-- <div class="nav-item-divider"></div> -->
    </nav>
  </div>

  <div class="dashboard-app">
    <header class='dashboard-toolbar'>
      <a href="#!" class="menu-toggle">
        <i class="fas fa-bars"></i></a>
      <div class="btn-group" style="margin-left: auto;">
        <button type="button" class="btn btn-primary mr-3" routerLink="account"
          routerLinkActive="active">Account</button>
        <button type="button" class="btn btn-primary">Logout</button>
      </div>
    </header>
    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
