<div class="container">
  <h1 mat-dialog-title *ngIf="data.update">Cập nhật phòng</h1>
  <h1 mat-dialog-title *ngIf="!data.update">Thêm mới phòng</h1>

  <div mat-dialog-content>
      <form [formGroup]="formControl">


          <div class="mt-2 form">
              <mat-form-field class="fullWidth" appearance="outline">
                  <mat-label>Tên ký túc xá</mat-label>
                  <mat-select [disabled]="data.update" [(ngModel)]="data.phong.tenKyTucXa"
                      formControlName='tenKyTucXa'>
                      <!-- <mat-option>
                          <ngx-mat-select-search formControlName="maSoDinhDanhS"></ngx-mat-select-search>
                      </mat-option> -->
                      <mat-option *ngFor="let item of data.kyTucXaList" [value]="item.tenKyTucXa">
                          {{item.tenKyTucXa}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="
            formControl.controls['tenKyTucXa']?.errors?.required">field required</mat-error>
              </mat-form-field>
          </div>

          <div class="mt-2 form">
              <mat-form-field class="fullWidth" appearance="outline">
                  <mat-label>Tên phòng </mat-label>
                  <input matInput type="text" formControlName="tenPhong" [(ngModel)]="data.phong.tenPhong" />
                  <mat-error *ngIf="
        formControl.controls['tenPhong']?.errors?.required">field required</mat-error>
              </mat-form-field>
          </div>

          <div class="mt-2 form">
              <mat-form-field class="fullWidth" appearance="outline">
                  <mat-label>Số sinh viên hiện có </mat-label>
                  <input matInput type="number" formControlName="soSvHienCo" [(ngModel)]="data.phong.soSvHienCo" />
                  <mat-error *ngIf="
        formControl.controls['soSvHienCo']?.errors?.required">field required</mat-error>
              </mat-form-field>
          </div>

          <div class="mt-2 form">
            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Tầng </mat-label>
                <input matInput type="number" formControlName="tang" [(ngModel)]="data.phong.tang" />
                <mat-error *ngIf="
      formControl.controls['tang']?.errors?.required">field required</mat-error>
            </mat-form-field>
        </div>

        <div class="mt-2 form">
          <mat-form-field class="fullWidth" appearance="outline">
              <mat-label>Mã loại phòng</mat-label>
              <mat-select [(ngModel)]="data.phong.maLoaiPhong"
                  formControlName='maLoaiPhong'>
                  <!-- <mat-option>
                      <ngx-mat-select-search formControlName="maSoDinhDanhS"></ngx-mat-select-search>
                  </mat-option> -->
                  <mat-option *ngFor="let item of data.loaiPhongList" [value]="item.maLoaiPhong">
                      {{item.maLoaiPhong}}-{{item.tenLoaiPhong}}</mat-option>
              </mat-select>
              <mat-error *ngIf="
        formControl.controls['maLoaiPhong']?.errors?.required">field required</mat-error>
          </mat-form-field>
      </div>

      </form>
  </div>

  <div class="mt-2" mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="!formControl.valid" (click)="edit()"
          cdkFocusInitial>Yes</button>
      <button mat-raised-button mat-dialog-close>No</button>

  </div>
</div>
